<div onload="load()">
  <h1>YouTube Extension</h1>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    </div>
  </div>
  <h3 *ngIf="error">{{ error }}</h3>

  <h3 *ngIf="average">Average: {{ average | number: '1.0-0' }}</h3>
  <ul>
    <li *ngFor="let comment of comments">
      <h4>{{ comment.value | number: '1.0-0' }}</h4>
      <div>
        <strong>{{ comment.author }}</strong>
        <span>{{ comment.date }}</span>
      </div>
      <p>{{ comment.text }}</p>
    </li>
  </ul>
</div>

<router-outlet />