<div onload="load()">
  <h1>YouTube Extension</h1>
  <h3 *ngIf="error">{{ error }}</h3>

  <h2 *ngIf="average" [style.color]="getColor()">Average: {{ average | number: '1.0-0' }}</h2>

  <select *ngIf="!error" [(ngModel)]="sortMode" (change)="sortComments()">
    <option value="positive">Positive First</option>
    <option value="negative">Negative First</option>
    <option value="longest">Longest First</option>
    <option value="shortest">Shortest First</option>
  </select>

  <ul *ngIf="!error">
    <li *ngFor="let comment of comments">
      <div class="comment-container">
        <h2 [style.color]="getColor(comment)" class="comment-number">{{ comment.value | number: '1.0-0' }}</h2>
        <div class="comment-details">
          <strong>{{ comment.author }}</strong>
          <span>{{ comment.date }}</span>
          <p>{{ comment.text }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>

<router-outlet />